body{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  height: auto;
  background: linear-gradient(to bottom right, #ff0000, #ffffff);
}

header{
  width: 1040px;
  height: 50px;
  background-color: red;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: capitalize;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}


div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0px;
    width: 1040px;
}

div li {
    float: left;
}

div li a {
    text-transform: capitalize;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

div li a:hover:not(.active) {
    background-color: #ff0000;
}

.active {
    background-color: #ff0000;
}

main{
  padding-top: 10px;
  padding: 20px;
  text-align: left;
  width: 1000px;
  height: auto;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.cassete{
  float: left;
  height: auto;
  width: 350px;
}


.vinyl{
  float: left;
  height: 350px;
  width: 350px;
}

p{
  font-family: arial;
  font-size: 18px;
  word-spacing: 2px;
}

h1{
  font-family: 'Nanum Gothic', sans-serif;
  text-shadow: 1.5px 1.5px red;
}

footer{
  opacity: 0.4;
  text-align: center;
  width: 1040px;
  height: auto;
  background-color: #e6e6ff;
  margin-left: auto;
  margin-right: auto;
}
